<div class="card-columns"> <!-- Se utiliza en varias visto entonces se le manda los datos y se ocupa la misma vista-->
		<article class="card w-100" *ngFor="let post of posts">
			<div class="card-header">
				<h2>
					<a [routerLink]="['/entrada',post.id]">{{post.title}} </a>
				</h2>
			</div>
			<div class="card-body">
				<!-- Cargar Imagen -->
				<div class="post-image w-100" *ngIf="post.image">
					<img src="{{ url + 'post/getImage/'+ post.image }}" class="w-100">
				</div>
				<div class="post-image w-100" *ngIf="!post.image">
					<img src="http://via.placeholder.com/400x250" class="w-100">
				</div>
				<!-- botones de accion -->
				<div class="post-buttones mt-3">
					<a [routerLink]="['/entrada',post.id]" class="btn btn-success mr-2">Leer</a>
					<span *ngIf="identity && identity.sub == post.user_id">
						<a class="btn btn-warning mr-2" [routerLink]="['/editar-entrada', post.id]">Editar</a>
						<!-- Button to Open the Modal -->
						<button type="button" class="btn btn-danger " data-toggle="modal" [attr.data-target] ="'#myModal'+post.id">
						  Borrar
						</button>

						<!-- The Modal -->
						<div class="modal" id="{{'myModal'+post.id}}">
						  <div class="modal-dialog">
						    <div class="modal-content">

						      <!-- Modal Header -->
						      <div class="modal-header">
						        <h4 class="modal-title">
						        	¿Seguro que quieres borrar esta entrada?
						    	</h4>
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						      </div>

						      <!-- Modal body -->
						      <div class="modal-body">
						        Vas a Borrar este post definitivamente {{post-title}}
						      </div>

						      <!-- Modal footer -->
						      <div class="modal-footer">
						      	<a (click)="deletePost(post.id)" class="btn btn-danger ml-2" data-dismiss="modal">Borrar</a>
						        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
						      </div>

						    </div>
						  </div>
						</div>
					</span>
				</div>
			</div>
		</article>

	</div>